*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(216, 210, 210);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0%;
}

.container {
  height: 100vh;
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

#sidebar-header > img {
  width: 2em;
  height: 2em;
}

#sidebar-header {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 14px;
  font-weight: bold;
  justify-content: end;
  align-self: end;
  padding-right: 17.5%;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  align-self: last baseline;
  text-align: center;
  font-size: 1.5rem;
  padding: 5%;
  padding-right: 10%;
}

.sidebar-body {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 2.5%;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  padding-top: 1em;
  gap: 1em;
}

input[type="button"] {
  background: transparent url(./images/plus-thick.svg) no-repeat;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 26px;
}

input[type="button"]:hover {
  scale: 1.2;
}

input#folder-name {
  border-radius: 5px;
  border: 0;
  flex: 0.5;
  width: 80%;
}

input#folder-name:focus {
  scale: 1.1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: darkgray;
  overflow: auto;
  flex: 0.9;
  width: 80%;
  align-self: center;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 15px;
  padding: 10px;
}
.active {
  background: #f1b4d6;
}

tr:hover {
  border: solid 5px;
  border-color: #eb86bf;
  cursor: pointer;
}

.folder.active:hover {
  background: #eb86bf;
}

.delete-icon {
  background: url(./images/delete-svgrepo-com.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
}

.small-icon {
  background: url(./images/edit-svgrepo-com.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
}

.small-icon:hover {
  cursor: pointer;
}

/* TASK BACKGROUND STYLING  */
main {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.to-do-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgb(89, 87, 87);
  overflow: auto;
  flex: 0.9;
  width: 95%;
  align-self: center;
}

thead {
  display: none;
}

/* GENERAL TASK ITEM STYLING  */

.to-do-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  margin: 15px;
  padding: 10px;
  border: solid 1px;
  justify-content: space-between;
}

thead > td:nth-child(1) {
  width: 1rem;
  padding-right: 1px;
  margin-right: 1px;
}

thead > td:nth-child(2) {
  width: 10rem;
  margin-left: 1px;
  padding-left: 1px;
}
thead > td:nth-child(3) {
  width: 1rem;
}

thead > td:nth-child(4) {
  width: 0.5rem;
}
thead > td:nth-child(5) {
  width: 0.5rem;
}
/* PRIORITY TASK STYLING  */

.to-do-item.low {
  border-left: 10px solid green;
}
.to-do-item.medium {
  border-left: 10px solid yellow;
}
.to-do-item.high {
  border-left: 10px solid red;
}

/* ADD TASK STYLING  */
.add-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 10px;
  position: sticky;
  top: 0;
  background: white;
}

input.add-item-input:first-child {
  width: 70%;
  height: 90%;
  border-radius: 5px;
  border: solid black 1px;
  flex: 0.5;
}

input.add-item-input:not(:first-child) {
  background: white;
  width: fit-content;
  height: 90%;
  border-radius: 5px;
}

.line {
  text-decoration: line-through;
}
